@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.container-header{
  background: #221f24;
}
.container-fluid .logo-container{
    font-size: 18px;
    color: #fff;
    line-height: 100px;
    text-align: center;
}
.container-fluid .main-menu-container{
  line-height: 82px;
  display: flex;
  align-items: center;
}
.container-fluid .main-menu-container .navbar-toggler{
  background-color: white;
}

.container-fluid .main-menu-container .navbar-expand-lg .navbar-nav .nav-link{
  padding: 0 1.5em 0 1.5em;
  color: #979797;
}
.container-fluid .main-menu-container .navbar-expand-lg .navbar-nav .active .nav-link{
  padding: 0 1.5em 0 1.5em;
  color: #fff;
}
#carouselEvents .carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
}
#carouselEvents .carousel-indicators{
  right: initial;
}
.container .footer{
  background: #221f24;
  height: 100px;
}
.container-fluid .category-content{
  background:#dedede;
}
.container-fluid .category-content .col-md-11{
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-fluid .category-content .midle-box-content{
  display: flex;
  align-items: center;
  font-size: 12px;
  text-align: center;
}
.container-fluid .category-content .midle-box-content span{
  color:#4c4c4c;
}
.container-fluid .category-content .col-md-11 .photo{
  overflow: hidden;
  min-height: 156px;
}
.container-fluid .category-content .col-md-11 .photo img{
  
}
.container-fluid .category-content .col-md-11 .midle-box-content{
  overflow: hidden;
  padding: 15px;
}
.container-fluid .project-content{
  padding: 30px 0;
}
.container-fluid .project-content .col-md-11{
  background:#f2ece0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
.container-fluid .project-content .col-md-11 img.medal{
  position: absolute;
  bottom: -33px; 
  right: 0;
}
.container-fluid .project-content .col-md-11 .col-5 {
  overflow: hidden;
}
.container-fluid .project-content .col-md-11 .photo img{
  width: 96%;
  height: 96%;
  margin: 5px;
}
.container-fluid .project-content .midle-box-content{
  font-size: 12px;
  padding-top: 10px;
}
.container-fluid .project-content .midle-box-content p{
  width: 100%;
}
.container-fluid .project-content .dropdown-menu{
  background: #535b62;
}
.container-fluid .project-content .dropdown-item{
  color: #e5eaef;
}
.container-fluid .project-content .dropdown-item img{
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.container-fluid .project-content .dropdown-item:hover{
  color: #16181b;
  background-color: #919598;
}
.container-fluid .project-content .dropdown button img{
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}
.login-content{
  padding: 50px 0;
  background:#dedede;
}
.login-content h3{
  text-align: center;
  padding: 15px 0;
}
.login-content .btn-signin{
  width: 100%;
  background: #565656;
  border-color: #5c5c5d;
}
.login-content .forgot-password{
    margin-bottom: 20px;
    margin-left: 3px;
}
.login-content .forgot-password a{
  color: #000;
}
.recover-content .email-group{
  margin-bottom: 30px;
}
.recover-content .email-group small{
  font-size: 11px;
}
.header-user{
    display: flex;
    align-items: center;
}
.header-user .box{
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: auto;
  border-radius: 30px;
}
.popover-body a{
  color: #373636;
  
}
.header-user .box img{
  width: 100%;
}
.breadcrumb-item a{
  color: #000;
}
.dashboard .header-bar{
  background: #000;
}
.dashboard .header-user{
  text-align: right;
}
.dashboard .header-user .box{
  margin: 0;
}
.dashboard .logo-container{
  line-height: 70px;
  text-align: left;
}
.dashboard .left-panel, .dashboard .right-panel{
  background: #D2D2D2;
}
.dashboard h3{
  text-align: center;
  margin: 10px;
  border-bottom: 1px solid #7d7c7c;
  padding: 10px 0;
}
.dashboard h3{
  color: #454343;
  margin: 10px;
  border-bottom: 1px solid #7d7c7c;
  padding: 10px 0;
}
.dashboard .dash img{
  width: 30px;
  margin: 0 20px 0 0;
}
.dashboard h4{
  font-size: 1rem;
  margin: 10px;
  border-bottom: 1px solid #7d7c7c;
  padding: 10px 0;
}

.dash-content .box-content{
  margin-top: 20px;
}
.dash-content .total-users{
  background: #71C548;
}
.dash-content .box-content h5{
  background: #C3E7B0;
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
}
.dash-content .marked-projects{
  background: #2DABC3;
}
.dash-content .marked-projects h5{
  background: #A5DBE6;
}
.dash-content .box-content p{
  margin: 10px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-weight: bold;
  min-height: 50px;
}
.dash-content .current-event{
  background: #C33876;
}
.dash-content .current-event h5{
  background: #E6ACC5;
}
.dashboard .right-panel h5{
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #504f4f;
  padding: 10px 0;
}
.dashboard .right-panel p{
  font-size: 12px;
  width: 100%;
  margin: 0;
}
.dash:hover {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}

@-webkit-keyframes flash {
  0% {  opacity: .3;  }
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1;  }
}
.breadcrumb{
  background: none !important;
}
.photo-event{
  height: 170px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.photo-event img{
  width: 100%;
  height: 100%;
}
.caption-event{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
a {
    color: #464748;

}
.dashboard a:hover {
    color: #1a1a1b;
}
.dashboard .add-project-form{
  padding: 20px 10px;
}
.footer{
  background: #221f24;
  height: 100px;
}
.add-project-form .btn-primary{
  background-color: #757071;
  border: 0;
  width: 100%;
  font-weight: bold;
}
#event-select{
  background: #8c8888;
  color: #fff;
}
#category-select{
  border: 1px solid #8e8a8a;
}
.button-select{
  text-align: center;
}
.button-select .btn-secondary{
    font-weight: bold;
    font-size: 20px;
    padding: 0px 15px;
    background: #827d7d;
}

.dashboard .btn-primary:not(:disabled):not(.disabled):active{
  background: #757071;
}

/*UPDATE PROJECT*/
.col.project{
  background-color: #D9D7D4;
  border-radius: 2px;
  padding: 9px;
}

.invite-judge-form{
  margin: 20px 0 0;
}
.invite-judge-form button[type="submit"]{
  width: 100%;
  border: 0;
  background: #34383c;
}
.invite-judge-form h3{
  text-align: left;
  margin: 0 0 20px;
}
.dashboard .manage-judge h3{
  text-align: left;
}
.dashboard .manage-judge img{
  width: 100%;
}
.manage-judge-detail-form{
  padding: 20px 0;
}
.manage-judge-detail-form .list-group{
  border-radius: 5px 5px 0 0;
  border: 1px solid;
}
.manage-judge-detail-form .list-group h5{
  text-align: center;
}
.manage-judge-detail-form .list-group .group-content{
  padding: 10px;
}
.manage-judge-detail-form .list-group select{
  height: 300px;
}
.manage-judge-detail-form .list-group .button-select{
  text-align: center;
  display: flex;
  align-items: center;
}
.manage-judge-detail-form .list-group option{
  overflow: hidden;
  padding: 4px;
  margin: 5px 0;
}
.manage-judge-detail-form .list-group option:nth-child(even) {
  background: #f0f5f1;
  
}
.manage-judge-detail-form .list-group option:nth-child(odd) {
  background: #e3f1f7;
  
}
#ddlCategories{
  height: 40px;
}
.dash-content h3{
  text-align: left;
}
.add-event-form{
  margin: 20px 0;
}
.table-condensed{
  background: #e1e4dd;
}
.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled]{
  background-color: #73afa9;
}
.datepicker table tr td.active{
  background: #73afa9;
}
.datepicker table tr td.today{
  background: #a2bcd6;
}
input.datepicker{
  background: #ccc;
}
input[type="file"]{
  border: 0;
  padding: 0;
}
.labelActive{
  display: flex;
  align-items: center;
}
.add-event-form button[type="submit"]{
  width: 100%;
  background: #ccc;
  border: 0;
  color: #000;
}